.flex-grid {
    display: block;
    
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }

    .center {
        align-items: center;
    }
}

.flex-col {
    flex: 1;
}

.container {
    padding: 1rem;
}

.hidden {
    display: none;
}

.visible {
    display: initial;
}

// mobile-specific
@media (max-width: 767px){
    .show-xs {
        display: initial;
    }
}