.flex-grid {
    display: flex;
}

.col {
    flex: 1;
}

.container {
    padding: 1rem;
}

.hidden {
    display: none;
}

.visible {
    display: initial;
}

// mobile-specific
@media (max-width: 767px){
    .show-xs {
        display: initial;
    }
}