@import "variables.less";
@import "mixin.less";

body, html {
    background: white;
    font-family: @crushed-font;
}
.container {
    padding: 1rem;
}

.hidden {
    display: none !important;
}

.visible {
    display: initial;
}

.capitalized {
    text-transform: capitalize;
}

.upper {
    text-transform: uppercase;
}

a {
    color: @white-antique;
    text-decoration: none;
    text-shadow: 0 0 4px @blue-dusty-light;
    transition: .25s all ease-in-out;
    
    &:hover {
        color: white;
        text-shadow: 0 0 4px @blue-dusty-dark;
    }
}

// mobile-specific
@media (max-width: 767px){
    .show-xs {
        display: initial !important;
    }
    .hidden-xs {
        display: none !important;
    }
}