@import "variables.less";
@import "mixin.less";

// HERO
@hero-padding: 8rem;
#hero.hero {
    padding: 8rem 0;
    background:url(../img/hero-1.jpg) no-repeat bottom center scroll;
    background-size:cover;
    position:relative;
    background-color: #000;
    width: 100%;
    height: 100vh;
    font-size: 2rem;
    text-align: center;
    color: white;

    &:after {
        content: "";
        display: inline-block;
        height: 2 * @hero-padding;
        width: 100%;
        background: linear-gradient(to top, white, rgba(255,255,255,0));
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.hero-body {
    text-align: center;
    height: calc(~"100% - 8rem");
    padding: 0 10%;
    display: inline-block;
    position: relative;
}

.announce {
    margin-top: 4rem;
}

.announce-name {
    .flex-display();
    .justify-content(center);
    .flex-dir(column);
    .align-items(center);
    font-size: 6rem;
    font-family: @grand-hotel-font;

    span {
        line-height: 4rem;
    }

    .name {
        width: 16rem;

        &.txt-right {
            text-align: right;
        }
    }
    .and {    
        line-height: 3rem;
        margin-bottom: -1.5rem;
    }
}

.save-the-date {
    color: @mustard-yellow;
}

.story-link {
    font-family: @grand-hotel-font;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 3rem;
    font-size: 4rem;
    text-decoration: underline;

    i {
        font-size: 2.4rem;
        position: relative;
        top: 37px;
        left: 5px;
    }
}

@media (min-width: 768px){
    #hero.hero {
        font-size: 3rem;
    }
    .announce-name {
        font-size: 9rem;

        span {
            line-height: 6rem;
        }

        .name {
            width: 23rem;
        }

        .and {
            line-height: 4rem;
        }
    }

    .story-link {
        font-size: 6rem;

        i {
            font-size: 3.1rem;
            top: 48px;
            left: 6px;
        }
    }
}

// TIMELINE
@tl-color: white;
.tl-wrapper {
    min-height: 100vh;
    color: @tl-color;
    position: relative; 
}
  
.tl-section {
    padding: 3rem 1rem;
    color: #3f3f3f;
    .flex-display();
    .align-items(center);
    .justify-content(center);
    background: lightblue;
    height: calc(~'100vh - 6rem');
    border: 1px solid black;
}

.tl-nav-wrapper {
    position: fixed;
    bottom: 0;
    right: 2rem;
    max-height: 100%;
    .flex-display();
    .flex-flow(column nowrap);
    .justify-content(flex-end);
    margin: 0 10px;
    border: 1px solid @tl-color;
}

@tl-nav-padding: 1em;
.tl-nav {
    .flex-display();
    .flex-dir(column);
    .justify-content(space-between);
    padding: @tl-nav-padding 0;
    list-style-type: none;
    position: absolute;
    margin: 0;
    right: -2.7em;
    height: calc(~"100% - @{tl-nav-padding} * 2");
}

a.tl-nav-link {
    font-size: 1.5em;
    display: block;
    padding: 1em 0;
    color: @tl-color;
    .flex-display();
    .flex-dir(row-reverse);
    .align-items(center);
    .transition(all 1s ease-in-out);
    
    span {
        .transition(all 0.3s ease-in-out);
    }
    
    &.active {
        flex-grow: 1;
    }

    &:hover, &.active {
        span{
            font-weight: bold;
        }
        .tl-nav-divider {
            width: 1em;
        }
    }

    &:focus {
        background-color: transparent;
    }
}

.tl-nav-counter {
    width: 1em;
    text-align: left;
}

.tl-nav-divider {
    width: .5em;
    margin: 0 .5em;
    border: 1px solid @tl-color;
}

.tl-nav-title {
    margin: 0; 
    width: 9em;
    text-align: right;
}

.tl-nav-body {
    .transition(all 0.3s ease-out);
}

@media (max-width: 449px){
    .tl-nav-wrapper {
        font-size: 12px;
    }

    .tl-nav {
        right: -1.8em;
    }

    .tl-nav-counter {
        width: .4em;
    }
}