@import "mixin.less";
@import "variables.less";

.nav-bar {
    .flex-display();
    .flex-direction(column);
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 14rem;

    a {
        text-decoration: none;
        cursor: pointer;
        color: @white-antique;
    }

    .menu-toggle {
        font-size: 3rem;
        z-index: 1;
    }
}

.nav-menu {
    margin: 0;
    padding: 4.5rem 1.5rem 1.5rem;
    list-style-type: none;
    position: absolute;
    top: 0;
    left: calc(~"-100% - 1rem");
    width: 14rem;
    height: 100%;
    z-index: 0;
    .transition(.5s all ease-in-out);
    .flex-display();
    .flex-direction(column);

    &.active {
        left: 0;
    }

    &.with-bg {
        background: rgb(90, 134, 173);
        &.active {
            box-shadow: 0px 0px 9px black;
        }
    }
}

.nav-item {
    display: block;
    padding: 0.75rem 0;
    .transition(.25s all ease-in-out);
    font-size: 1.5rem;

    .flex-order(1);

    &:hover {
        padding-left: 1rem;
    }
}

@media (min-width: 769px){
    .nav-bar {
        width: calc(~"100% - 2rem");
        height: auto;
        .align-items(center);
    }

    .nav-menu {
        position: static;
        width: 100%;
        max-width: 1600px;
        height: auto;
        padding: 0;
        .flex-dir(row);
        .justify-content(space-around);
        .align-items(center);
    }

    @item-padding: .5rem 0;
    .nav-item {
        font-size: 1rem;
        border-top: 2px solid @white-antique;
        border-bottom: 2px solid @white-antique;
        padding: @item-padding;
        width: 7.6rem;
        height: 3.5rem;
        .align-items(flex-end);
        .flex-display();

        &:hover {
            padding: @item-padding;
            color: white;
            border-color: white;
        }
    }

    @logo-padding: 0;
    .nav-logo {
        border: 2px solid @white-antique;
        padding: @logo-padding;
        font-size: 1.5rem;
        .align-items(center);
        .justify-content(center);
        margin: 0 .5rem;
        font-family: 'Yesteryear', cursive;
        width: 9rem;
        height: 6rem;

        i{
            margin: 0 .5rem;
        }

        &:hover{
            padding: @logo-padding;
            font-size: 2rem;
            background: rgba(1,1,1,.25);
        }
    }
}