// out: ../css/schedule.css, compress: true, sourceMap: false
@import "variables.less";
@import "mixin.less";

#schedule {
    #hero-schedule {
        background-image: url('https://meetings.hyatt.com/content/dam/hyatt/VALEN_P005_Wedding_Cake-copy-4tile.jpg');
    }
    
    .thank-you-note {
        margin-bottom: 6rem;
    }
    
    .event-content {
        padding: 0 2rem;
        max-width: 1024px;
    }
    
    .event {
        .flex-display();
        .flex-dir(column);
        margin-bottom: 6rem;
    
        h1, h2, h3, h4, h5, p {
            margin: .5rem 0;
        }
    
        p {
            font-size: 1.25rem;
            margin-top: 1.5rem;
        }
    }
    
    .event-header {
        h2 {
            color: @blue-dusty-dark;
            font-family: @grand-hotel-font;
            font-weight: normal;
            font-size: 4rem;
        }
    }
    
    .event-divider {
        border: 1px solid @blue-dusty-dark;
        position: relative;
        margin: 2rem 0;
    
        i{
            position: absolute;
            font-size: 36px;
            background: white;
            border: 2px solid @blue-dusty-dark;
            border-radius: 3rem;
            color: @blue-dusty-dark;
            padding: 10px;
            top: -30px;
            left: calc(~"50% - 30px");
        }
    }
    
    .btn-container {
        .flex-dir(column);
        width: 100%;
    }
    
    .btn-direction {
        margin-bottom: 1rem;
        width: 100%;

        i {
            margin-left: 5px;
        }
    }

    .add-to-cal-wrapper {
        .flex-display();
        .justify-content(space-between);
        width: 100%;
    }

    .btn-add-to-cal {
        .transition(width .5s ease-in);
        .flex(0 0 auto);
        width: 100%;
        padding: 0;

        .close {
            margin-right: 10px;
            .transition(transform .5s ease-in, font-size .5s ease-in, margin-right .5s ease-in;);
            .transform(rotate(45deg));
        }

        .text {
            display: inline-block;
            overflow: hidden;
            max-height: 50px;
            max-width: 300px;
            .transition(max-width .5s ease-in, max-height .5s ease-in;);
        }

        &.add-mode {
            width: 43px;
            .close {
                .transform(rotate(0deg));
                margin-right: 0;
                font-size: 29px;
            }
            .text {
                max-height: 0;
                max-width: 0;
            }
        }
    }

    .tooltip {
        width: 170px;
    }
    
    @media (min-width: 768px){
        .event {
            .flex-dir(row);
            .justify-content(space-between);
            font-size: 26px;
        }
    
        .event-header, .event-info {
            .flex-display();
            .justify-content(center);
            .align-items(center);
            .flex-dir(column);
            .flex(0 0 calc(~"50% - 4rem - 2px"));
            padding: 0 1rem;
        }
    
        .event-divider {
            margin: 0 2rem;
            i {
                left: -30px;
                top: calc(~"50% - 30px");
            }
        }
    
        .event-info {
    
            h3, h5 {
                margin: 0 0 .25rem;
            }
    
            p {
                font-size: 1.2rem;
            }
        }
    
        .btn-container {
            font-size: 1.2rem;
        }
    }
    
    @media (min-width: 1024px){
        .event-info {
            p {
                font-size: 1.25rem;
            }
        }
    
        .btn-container {
            font-size: 1.5rem;
            .flex-dir(row);
        }

        .btn-direction {
            width: 146px;
            margin-bottom: 0;
        }

        .add-to-cal-wrapper {
            width: 266px;
        }
    }
}